.layout-container {
  display: flex;
  .layout-side {
    height: 100vh;
    transition: all 0.3s;
    .menu {
      height: 100%;
    }
    .ant-menu {
      height: 100%;
    }
  }
  .layout-main {
    flex: 1;
  }
}
